.container{
    display: grid;
    grid-template-rows: 150px 1fr;
}
.library{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    

}

.book{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: grey;
    border-radius: 25px;
    text-align: center;
}

.popup-form{
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    border: 3px solid black;
    height: 300px;
    width: 600px;
    background-color: white;
}

.form-open{
    display: block;
}

.title{
    font-weight: bold;
    font-size: 36px;
    margin-top: 50px;
}

.author{
    margin-top: 10px;
    font-size: 20px;
}

.pages{
    margin-top: 10px;
    font-size: 20px;
}

.greenRead,.redRead{
    border-style: none;
    border-radius: 25px;
    width: 100px;
    height: 25px;
}

.greenRead{
    background-color: green;
    margin-top: 10px;
    font-size: 20px;
}

.redRead{
    background-color: red;
    margin-top: 10px;
    font-size: 20px;
}

.removeButton{
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
    border: none;
    font-size: 36px;
}

input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

.error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
}
  
  .error.active {
    padding: 0.3em;
}
  